.navbar {
    width: 100vw;
    padding:20px 0 20px 0;
    height: 50px;
    background:#272727;
    color:whitesmoke;
    text-align:center;
}

.game{
    width:50%;
    margin:auto;
}

p,input,button {
    margin-top: 20px;
    font-size:24px;
    width:15%;
    text-align:center;
}


.game > p {
    width:100%;
    font-size: 14px;
    font-family: monospace; 
    white-space: pre-wrap;
}

.game > input {
    border:none;
    border-bottom: 1px solid black; 
}